In [32]:
import os
import kagglehub
import pandas as pd

# Descarga de dataset Kaggle

In [33]:
path = kagglehub.dataset_download("elemento/nyc-yellow-taxi-trip-data")
print("Dataset downloaded to:", path)
os.listdir(path)

Dataset downloaded to: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2

['yellow_tripdata_2016-02.csv',
 'yellow_tripdata_2016-03.csv',
 'yellow_tripdata_2016-01.csv',
 'yellow_tripdata_2015-01.csv']

In [34]:
import shutil

for file in os.listdir(path):
    kaggle_path = os.path.join(path, file)
    print("Cargando datos:", kaggle_path)

    smb_dir = (
        "/mnt/sambashare/BigData-DATA/TF"
    )

    source = os.path.join(path, file)
    dest = os.path.join(smb_dir, file)
    
    os.makedirs(smb_dir, exist_ok=True)
    smb_path = os.path.join(smb_dir, file)
    if not os.path.exists(dest):
        shutil.copy2(source, dest)
    
print(os.listdir(smb_dir))

Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2016-02.csv
Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2016-03.csv
Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2016-01.csv
Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2015-01.csv
['processed', 'yellow_tripdata_2016-02.csv', 'yellow_tripdata_2016-03.csv', 'yellow_tripdata_2016-01.csv', 'yellow_tripdata_2015-01.csv']

# Carga de datos

In [35]:
df = pd.read_csv(os.path.join(smb_dir,"yellow_tripdata_2016-03.csv"), header=0, sep=",", engine='pyarrow')
print(df.shape)
df.describe()

(12210952, 19)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,1.221095e+07,12210952,12210952,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07
mean,1.530647e+00,2016-03-16 09:20:13,2016-03-16 09:35:54,1.659580e+00,6.131770e+00,-7.287133e+01,4.014349e+01,1.040395e+00,-7.293679e+01,4.018050e+01,1.340920e+00,1.279508e+01,3.455600e-01,4.976363e-01,1.792582e+00,3.152554e-01,2.997199e-01,1.604582e+01
min,1.000000e+00,2016-03-01 00:00:00,2016-02-25 09:45:01,0.000000e+00,0.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-3.760000e+02,-5.850000e+01,-1.000000e+00,-2.000000e+01,-1.604000e+01,-3.000000e-01,-3.763000e+02
25%,1.000000e+00,2016-03-08 17:31:02,2016-03-08 17:47:11,1.000000e+00,1.000000e+00,-7.399174e+01,4.073630e+01,1.000000e+00,-7.399125e+01,4.073462e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.750000e+00
50%,2.000000e+00,2016-03-16 10:37:04,2016-03-16 10:55:05,1.000000e+00,1.700000e+00,-7.398161e+01,4.075325e+01,1.000000e+00,-7.397961e+01,4.075375e+01,1.000000e+00,9.500000e+00,0.000000e+00,5.000000e-01,1.350000e+00,0.000000e+00,3.000000e-01,1.180000e+01
75%,2.000000e+00,2016-03-24 00:25:02,2016-03-24 00:40:51,2.000000e+00,3.180000e+00,-7.396678e+01,4.076765e+01,1.000000e+00,-7.396228e+01,4.076910e+01,2.000000e+00,1.450000e+01,5.000000e-01,5.000000e-01,2.360000e+00,0.000000e+00,3.000000e-01,1.776000e+01
max,2.000000e+00,2016-03-31 23:59:59,2016-06-29 15:58:16,9.000000e+00,1.907263e+07,0.000000e+00,6.685682e+01,9.900000e+01,0.000000e+00,5.079786e+01,4.000000e+00,4.294967e+05,8.000000e+01,7.930000e+01,8.500000e+02,1.410320e+03,3.000000e-01,4.295622e+05
std,4.990599e-01,NaN,NaN,1.312189e+00,6.156483e+03,8.964108e+00,4.937996e+00,5.807342e-01,8.696974e+00,4.790940e+00,4.902621e-01,1.340979e+02,4.563069e-01,4.863319e-02,2.549124e+00,1.751526e+00,1.230647e-02,1.343578e+02

# Preprocesamiento de datos

## Remover features

## Eliminacion de columnas

In [36]:
df = df.drop(columns=["VendorID", "RatecodeID"])
df.describe()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,12210952,12210952,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07
mean,2016-03-16 09:20:13,2016-03-16 09:35:54,1.659580e+00,6.131770e+00,-7.287133e+01,4.014349e+01,-7.293679e+01,4.018050e+01,1.340920e+00,1.279508e+01,3.455600e-01,4.976363e-01,1.792582e+00,3.152554e-01,2.997199e-01,1.604582e+01
min,2016-03-01 00:00:00,2016-02-25 09:45:01,0.000000e+00,0.000000e+00,-1.616987e+02,0.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-3.760000e+02,-5.850000e+01,-1.000000e+00,-2.000000e+01,-1.604000e+01,-3.000000e-01,-3.763000e+02
25%,2016-03-08 17:31:02,2016-03-08 17:47:11,1.000000e+00,1.000000e+00,-7.399174e+01,4.073630e+01,-7.399125e+01,4.073462e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.750000e+00
50%,2016-03-16 10:37:04,2016-03-16 10:55:05,1.000000e+00,1.700000e+00,-7.398161e+01,4.075325e+01,-7.397961e+01,4.075375e+01,1.000000e+00,9.500000e+00,0.000000e+00,5.000000e-01,1.350000e+00,0.000000e+00,3.000000e-01,1.180000e+01
75%,2016-03-24 00:25:02,2016-03-24 00:40:51,2.000000e+00,3.180000e+00,-7.396678e+01,4.076765e+01,-7.396228e+01,4.076910e+01,2.000000e+00,1.450000e+01,5.000000e-01,5.000000e-01,2.360000e+00,0.000000e+00,3.000000e-01,1.776000e+01
max,2016-03-31 23:59:59,2016-06-29 15:58:16,9.000000e+00,1.907263e+07,0.000000e+00,6.685682e+01,0.000000e+00,5.079786e+01,4.000000e+00,4.294967e+05,8.000000e+01,7.930000e+01,8.500000e+02,1.410320e+03,3.000000e-01,4.295622e+05
std,NaN,NaN,1.312189e+00,6.156483e+03,8.964108e+00,4.937996e+00,8.696974e+00,4.790940e+00,4.902621e-01,1.340979e+02,4.563069e-01,4.863319e-02,2.549124e+00,1.751526e+00,1.230647e-02,1.343578e+02

In [37]:
key_cols = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']
for col in key_cols:
    print(f"{col}: {df[col].isna().sum()} missing")

tpep_pickup_datetime: 0 missing
tpep_dropoff_datetime: 0 missing

## Transformacion de columnas

In [38]:
import numpy as np

# Convert pickup/dropoff to string, then to datetime, and compute trip duration (in minutes)
df['pickup'] = pd.to_datetime(df['tpep_pickup_datetime'], format='%Y-%m-%d %H:%M:%S')
df['dropoff'] = pd.to_datetime(df['tpep_dropoff_datetime'], format='%Y-%m-%d %H:%M:%S')

df['trip_duration_min'] = np.floor((df['dropoff'] - df['pickup']).dt.total_seconds() / 60)

print("Before filtering: ", df.shape)

Before filtering:  (12210952, 20)

## Eliminacion de datos atipicos

### trip_duration_min

In [39]:
total_count = len(df)


# Compute Q1, Q3, and IQR
Q1 = df['trip_duration_min'].quantile(0.25)
Q3 = df['trip_duration_min'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers_mask = (df['trip_duration_min'] < lower_bound) | (df['trip_duration_min'] > upper_bound)
outliers = df[outliers_mask]

print("Outliers:\n", outliers)
print("Outliers shape:\n", outliers.shape)
print(f"Outliers: {outliers.shape[0] / total_count} ({outliers.shape[0] / total_count * 100:.2f}%) of total data")

Outliers:
          tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
28        2016-03-01 00:00:07   2016-03-01 00:36:51                1
64        2016-03-01 00:00:21   2016-03-01 00:38:01                1
69        2016-03-01 00:00:24   2016-03-01 00:35:29                1
129       2016-03-01 00:00:45   2016-03-01 00:39:48                3
131       2016-03-01 00:00:46   2016-03-01 00:40:15                1
...                       ...                   ...              ...
12210946  2016-03-20 08:59:21   2016-04-18 10:58:05                1
12210948  2016-03-26 03:02:32   2016-06-14 18:47:55                1
12210949  2016-03-20 08:43:59   2016-06-27 15:05:01                1
12210950  2016-03-20 08:49:47   2016-06-28 19:11:27                1
12210951  2016-03-20 08:50:24   2016-06-29 15:58:16                1

          trip_distance  pickup_longitude  pickup_latitude store_and_fwd_flag  \
28                18.03        -73.789413        40.647018                  N
64                19.35        -73.789429        40.647717                  N
69                10.34        -73.990059        40.761936                  N
129               18.34        -73.793167        40.656830                  N
131               20.20        -73.789932        40.643650                  Y
...                 ...               ...              ...                ...
12210946          12.10        -73.789154        40.646736                  N
12210948           0.40        -73.977356        40.774471                  N
12210949          20.20          0.000000         0.000000                  N
12210950          15.40        -73.790077        40.647377                  N
12210951          17.50        -73.798485        40.645096                  N

          dropoff_longitude  dropoff_latitude  payment_type  fare_amount  \
28               -74.000992         40.726940             1        52.00
64               -73.970741         40.793331             1        52.00
69               -73.857773         40.743256             1        34.50
129              -73.793167         40.656830             2        58.34
131              -73.979767         40.714558             2        52.00
...                     ...               ...           ...          ...
12210946         -73.875351         40.757648             1        34.50
12210948         -73.982536         40.772408             1         4.00
12210949         -74.008614         40.710987             1        52.00
12210950         -73.971756         40.578457             1        42.50
12210951         -73.993111         40.725880             1        52.00

          extra  mta_tax  tip_amount  tolls_amount  improvement_surcharge  \
28          0.0      0.5       13.20          0.00                    0.3
64          0.0      0.5        6.66          5.54                    0.3
69          0.5      0.5        0.00          0.00                    0.3
129         0.0      0.5        0.00          0.00                    0.3
131         0.0      0.5        0.00          0.00                    0.3
...         ...      ...         ...           ...                    ...
12210946    0.0      0.5        5.00          0.00                    0.3
12210948    1.0      0.5        1.70          0.00                    0.3
12210949    0.0      0.5        6.00          5.54                    0.3
12210950    1.0      0.5        5.00          0.00                    0.3
12210951    0.0      0.5       13.20          0.00                    0.3

          total_amount              pickup             dropoff  \
28               66.00 2016-03-01 00:00:07 2016-03-01 00:36:51
64               65.00 2016-03-01 00:00:21 2016-03-01 00:38:01
69               35.80 2016-03-01 00:00:24 2016-03-01 00:35:29
129              59.14 2016-03-01 00:00:45 2016-03-01 00:39:48
131              52.80 2016-03-01 00:00:46 2016-03-01 00:40:15
...                ...                 ...                 ...
12210946         40.30 2016-03-20 08:59:21 2016-04-18 10:58:05
12210948          7.50 2016-03-26 03:02:32 2016-06-14 18:47:55
12210949         64.34 2016-03-20 08:43:59 2016-06-27 15:05:01
12210950         49.30 2016-03-20 08:49:47 2016-06-28 19:11:27
12210951         66.00 2016-03-20 08:50:24 2016-06-29 15:58:16

          trip_duration_min
28                     36.0
64                     37.0
69                     35.0
129                    39.0
131                    39.0
...                     ...
12210946            41878.0
12210948           116145.0
12210949           142941.0
12210950           144621.0
12210951           145867.0

[603661 rows x 20 columns]
Outliers shape:
 (603661, 20)
Outliers: 0.04943603086802732 (4.94%) of total data

In [40]:
df = df[~outliers_mask].reset_index(drop=True)
print("Cleaned DataFrame:\n") 
df.describe()

Cleaned DataFrame:

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup,dropoff,trip_duration_min
count,11607291,11607291,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,1.160729e+07,11607291,11607291,1.160729e+07
mean,2016-03-16 09:05:19,2016-03-16 09:17:19,1.655911e+00,5.763592e+00,-7.287157e+01,4.014314e+01,-7.293382e+01,4.017914e+01,1.342635e+00,1.125677e+01,3.355351e-01,4.981477e-01,1.588588e+00,1.825892e-01,2.997156e-01,1.416134e+01,2016-03-16 09:05:19,2016-03-16 09:17:19,1.149816e+01
min,2016-03-01 00:00:00,2016-03-01 00:00:00,0.000000e+00,0.000000e+00,-1.616987e+02,0.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-3.760000e+02,-5.850000e+01,-1.000000e+00,-2.000000e+01,-1.604000e+01,-3.000000e-01,-3.763000e+02,2016-03-01 00:00:00,2016-03-01 00:00:00,-5.000000e+00
25%,2016-03-08 16:50:01,2016-03-08 17:01:26,1.000000e+00,1.000000e+00,-7.399193e+01,4.073719e+01,-7.399133e+01,4.073593e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00,2016-03-08 16:50:01,2016-03-08 17:01:26,6.000000e+00
50%,2016-03-16 10:10:02,2016-03-16 10:24:00,1.000000e+00,1.600000e+00,-7.398193e+01,4.075348e+01,-7.397984e+01,4.075415e+01,1.000000e+00,9.000000e+00,5.000000e-01,5.000000e-01,1.260000e+00,0.000000e+00,3.000000e-01,1.140000e+01,2016-03-16 10:10:02,2016-03-16 10:24:00,1.000000e+01
75%,2016-03-24 00:36:30,2016-03-24 00:48:45,2.000000e+00,2.830000e+00,-7.396803e+01,4.076754e+01,-7.396323e+01,4.076933e+01,2.000000e+00,1.350000e+01,5.000000e-01,5.000000e-01,2.260000e+00,0.000000e+00,3.000000e-01,1.655000e+01,2016-03-24 00:36:30,2016-03-24 00:48:45,1.600000e+01
max,2016-03-31 23:59:59,2016-04-01 00:32:52,9.000000e+00,1.907263e+07,0.000000e+00,6.685682e+01,0.000000e+00,5.079786e+01,4.000000e+00,1.330654e+05,6.553000e+01,5.930000e+01,8.500000e+02,9.080700e+02,3.000000e-01,1.331312e+05,2016-03-31 23:59:59,2016-04-01 00:32:52,3.300000e+01
std,NaN,NaN,1.310533e+00,6.313926e+03,8.976240e+00,4.944620e+00,8.715615e+00,4.801257e+00,4.906302e-01,5.445982e+01,3.837871e-01,3.846829e-02,2.076307e+00,1.297597e+00,1.248102e-02,5.478402e+01,NaN,NaN,7.300888e+00

In [41]:
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup,dropoff,trip_duration_min
0,2016-03-01,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35,2016-03-01,2016-03-01 00:07:55,7.0
1,2016-03-01,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35,2016-03-01,2016-03-01 00:11:06,11.0
2,2016-03-01,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80,2016-03-01,2016-03-01 00:31:06,31.0
3,2016-03-01,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62,2016-03-01,2016-03-01 00:00:00,0.0
4,2016-03-01,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80,2016-03-01,2016-03-01 00:00:00,0.0

### total_amount

In [42]:
total_count = len(df)
df['total_amount'] = df['fare_amount'] + df['extra'] + df['mta_tax'] + df['tip_amount'] + df['tolls_amount'] + df['improvement_surcharge']

df = df[df['total_amount'] >= 0]

Q1 = df['total_amount'].quantile(0.25)
Q3 = df['total_amount'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers_mask = (df['total_amount'] < lower_bound) | (df['total_amount'] > upper_bound)
outliers = df[outliers_mask]

print("Outliers:\n", outliers)
print("Outliers shape:\n", outliers.shape)
print(f"Outliers: {outliers.shape[0] / total_count} ({outliers.shape[0] / total_count * 100:.2f}%) of total data")

Outliers:
          tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
2         2016-03-01 00:00:00   2016-03-01 00:31:06                2
3         2016-03-01 00:00:00   2016-03-01 00:00:00                3
4         2016-03-01 00:00:00   2016-03-01 00:00:00                5
5         2016-03-01 00:00:00   2016-03-01 00:00:00                5
14        2016-03-01 00:00:02   2016-03-01 00:24:11                1
...                       ...                   ...              ...
11607244  2016-03-31 23:59:51   2016-04-01 00:27:05                2
11607246  2016-03-31 23:59:51   2016-04-01 00:28:35                1
11607275  2016-03-31 23:59:58   2016-04-01 00:29:16                2
11607281  2016-03-31 23:59:58   2016-04-01 00:18:16                1
11607285  2016-03-29 16:46:55   2016-03-29 16:49:21                4

          trip_distance  pickup_longitude  pickup_latitude store_and_fwd_flag  \
2                 19.98        -73.782021        40.644810                  N
3                 10.78        -73.863419        40.769814                  N
4                 30.43        -73.971741        40.792183                  N
5                  5.92        -74.017197        40.705383                  N
14                 8.54        -74.002068        40.719120                  N
...                 ...               ...              ...                ...
11607244          10.36        -73.979843        40.761131                  N
11607246          17.55        -73.776703        40.645279                  N
11607275           7.20        -73.999077        40.739471                  N
11607281           6.21        -74.005898        40.725761                  N
11607285           0.40        -73.981949        40.766346                  Y

          dropoff_longitude  dropoff_latitude  payment_type  fare_amount  \
2                -73.974541         40.675770             1         54.5
3                -73.969650         40.757767             1         31.5
4                -74.177170         40.695053             1         98.0
5                -73.978073         40.755787             1         23.5
14               -73.952118         40.811241             1         27.0
...                     ...               ...           ...          ...
11607244         -73.892838         40.846180             2         33.5
11607246         -73.969093         40.764351             1         52.0
11607275         -73.930878         40.672302             1         25.0
11607281         -74.009331         40.780361             2         35.0
11607285         -73.987587         40.768764             2         52.0

          extra  mta_tax  tip_amount  tolls_amount  improvement_surcharge  \
2           0.5      0.5        8.00          0.00                    0.3
3           0.0      0.5        3.78          5.54                    0.3
4           0.0      0.0        0.00         15.50                    0.3
5           1.0      0.5        5.06          0.00                    0.3
14          0.5      0.5        5.66          0.00                    0.3
...         ...      ...         ...           ...                    ...
11607244    0.5      0.5        0.00          0.00                    0.3
11607246    0.0      0.5       14.58          5.54                    0.3
11607275    0.5      0.5       11.00          0.00                    0.3
11607281    0.0      0.0        0.00         10.50                    0.3
11607285    4.5      0.5        0.00          5.54                    0.3

          total_amount              pickup             dropoff  \
2                63.80 2016-03-01 00:00:00 2016-03-01 00:31:06
3                41.62 2016-03-01 00:00:00 2016-03-01 00:00:00
4               113.80 2016-03-01 00:00:00 2016-03-01 00:00:00
5                30.36 2016-03-01 00:00:00 2016-03-01 00:00:00
14               33.96 2016-03-01 00:00:02 2016-03-01 00:24:11
...                ...                 ...                 ...
11607244         34.80 2016-03-31 23:59:51 2016-04-01 00:27:05
11607246         72.92 2016-03-31 23:59:51 2016-04-01 00:28:35
11607275         37.30 2016-03-31 23:59:58 2016-04-01 00:29:16
11607281         45.80 2016-03-31 23:59:58 2016-04-01 00:18:16
11607285         62.84 2016-03-29 16:46:55 2016-03-29 16:49:21

          trip_duration_min
2                      31.0
3                       0.0
4                       0.0
5                       0.0
14                     24.0
...                     ...
11607244               27.0
11607246               28.0
11607275               29.0
11607281               18.0
11607285                2.0

[716608 rows x 20 columns]
Outliers shape:
 (716608, 20)
Outliers: 0.06173774742099599 (6.17%) of total data

### Guardado de archivo

In [43]:
cleaned_df = df[~outliers_mask].reset_index(drop=True)
print("Cleaned DataFrame:\n") 
cleaned_df.describe()

Cleaned DataFrame:

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup,dropoff,trip_duration_min
count,10886133,10886133,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,10886133,10886133,1.088613e+07
mean,2016-03-16 08:50:43,2016-03-16 09:01:53,1.654460e+00,5.008883e+00,-7.290064e+01,4.015814e+01,-7.295948e+01,4.019228e+01,1.351729e+00,9.782265e+00,3.348852e-01,4.994640e-01,1.325432e+00,1.248085e-02,2.999543e-01,1.225448e+01,2016-03-16 08:50:43,2016-03-16 09:01:53,1.066902e+01
min,2016-03-01 00:00:00,2016-03-01 00:00:00,0.000000e+00,0.000000e+00,-1.616987e+02,0.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,0.000000e+00,-5.850000e+01,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2016-03-01 00:00:00,2016-03-01 00:00:00,-5.000000e+00
25%,2016-03-08 16:27:35,2016-03-08 16:39:10,1.000000e+00,9.500000e-01,-7.399211e+01,4.073757e+01,-7.399152e+01,4.073698e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00,2016-03-08 16:27:35,2016-03-08 16:39:10,6.000000e+00
50%,2016-03-16 09:51:20,2016-03-16 10:04:15,1.000000e+00,1.520000e+00,-7.398217e+01,4.075334e+01,-7.398052e+01,4.075414e+01,1.000000e+00,8.500000e+00,5.000000e-01,5.000000e-01,1.200000e+00,0.000000e+00,3.000000e-01,1.115000e+01,2016-03-16 09:51:20,2016-03-16 10:04:15,9.000000e+00
75%,2016-03-24 00:34:51,2016-03-24 00:45:46,2.000000e+00,2.510000e+00,-7.396925e+01,4.076697e+01,-7.396555e+01,4.076871e+01,2.000000e+00,1.250000e+01,5.000000e-01,5.000000e-01,2.060000e+00,0.000000e+00,3.000000e-01,1.530000e+01,2016-03-24 00:34:51,2016-03-24 00:45:46,1.500000e+01
max,2016-03-31 23:59:59,2016-04-01 00:31:16,9.000000e+00,1.907263e+07,0.000000e+00,6.685682e+01,0.000000e+00,5.079786e+01,4.000000e+00,2.880000e+01,2.000000e+01,5.930000e+01,2.750000e+01,2.654000e+01,3.000000e-01,2.892000e+01,2016-03-31 23:59:59,2016-04-01 00:31:16,3.300000e+01
std,NaN,NaN,1.309840e+00,6.340818e+03,8.871084e+00,4.886558e+00,8.620024e+00,4.748455e+00,4.918388e-01,4.638094e+00,3.746481e-01,2.491271e-02,1.309149e+00,2.721293e-01,3.698529e-03,5.299096e+00,NaN,NaN,6.509008e+00

In [44]:
key_cols = ['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'trip_distance']
for col in key_cols:
    print(f"{col}: {cleaned_df[col].isna().sum()} missing")

pickup_longitude: 0 missing
pickup_latitude: 0 missing
dropoff_longitude: 0 missing
dropoff_latitude: 0 missing
trip_distance: 0 missing

In [45]:
cleaned_df.drop(columns=['tpep_pickup_datetime', 'tpep_dropoff_datetime'], inplace=True)
cleaned_df.describe()

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup,dropoff,trip_duration_min
count,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,1.088613e+07,10886133,10886133,1.088613e+07
mean,1.654460e+00,5.008883e+00,-7.290064e+01,4.015814e+01,-7.295948e+01,4.019228e+01,1.351729e+00,9.782265e+00,3.348852e-01,4.994640e-01,1.325432e+00,1.248085e-02,2.999543e-01,1.225448e+01,2016-03-16 08:50:43,2016-03-16 09:01:53,1.066902e+01
min,0.000000e+00,0.000000e+00,-1.616987e+02,0.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,0.000000e+00,-5.850000e+01,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2016-03-01 00:00:00,2016-03-01 00:00:00,-5.000000e+00
25%,1.000000e+00,9.500000e-01,-7.399211e+01,4.073757e+01,-7.399152e+01,4.073698e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.300000e+00,2016-03-08 16:27:35,2016-03-08 16:39:10,6.000000e+00
50%,1.000000e+00,1.520000e+00,-7.398217e+01,4.075334e+01,-7.398052e+01,4.075414e+01,1.000000e+00,8.500000e+00,5.000000e-01,5.000000e-01,1.200000e+00,0.000000e+00,3.000000e-01,1.115000e+01,2016-03-16 09:51:20,2016-03-16 10:04:15,9.000000e+00
75%,2.000000e+00,2.510000e+00,-7.396925e+01,4.076697e+01,-7.396555e+01,4.076871e+01,2.000000e+00,1.250000e+01,5.000000e-01,5.000000e-01,2.060000e+00,0.000000e+00,3.000000e-01,1.530000e+01,2016-03-24 00:34:51,2016-03-24 00:45:46,1.500000e+01
max,9.000000e+00,1.907263e+07,0.000000e+00,6.685682e+01,0.000000e+00,5.079786e+01,4.000000e+00,2.880000e+01,2.000000e+01,5.930000e+01,2.750000e+01,2.654000e+01,3.000000e-01,2.892000e+01,2016-03-31 23:59:59,2016-04-01 00:31:16,3.300000e+01
std,1.309840e+00,6.340818e+03,8.871084e+00,4.886558e+00,8.620024e+00,4.748455e+00,4.918388e-01,4.638094e+00,3.746481e-01,2.491271e-02,1.309149e+00,2.721293e-01,3.698529e-03,5.299096e+00,NaN,NaN,6.509008e+00

In [46]:
# Prepare data for H2O
os.makedirs(os.path.join(smb_dir,"processed"), exist_ok=True)
cleaned_df.to_csv(os.path.join("/home/giorgio6846/Code/BigData-DATA/TF/processed", "yellow_tripdata_2016-03_processed.csv"), index=False)