In [33]:
import os
import kagglehub
import pandas as pd

# Descarga de dataset Kaggle

In [34]:
path = kagglehub.dataset_download("elemento/nyc-yellow-taxi-trip-data")
print("Dataset downloaded to:", path)
os.listdir(path)

Dataset downloaded to: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2

['yellow_tripdata_2016-02.csv',
 'yellow_tripdata_2016-03.csv',
 'yellow_tripdata_2016-01.csv',
 'yellow_tripdata_2015-01.csv']

In [35]:
import shutil

for file in os.listdir(path):
    kaggle_path = os.path.join(path, file)
    print("Cargando datos:", kaggle_path)

    smb_dir = (
        "/mnt/sambashare/BigData-DATA/TF"
    )

    source = os.path.join(path, file)
    dest = os.path.join(smb_dir, file)
    
    os.makedirs(smb_dir, exist_ok=True)
    smb_path = os.path.join(smb_dir, file)
    if not os.path.exists(dest):
        shutil.copy2(source, dest)
    
print(os.listdir(smb_dir))

Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2016-02.csv
Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2016-03.csv
Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2016-01.csv
Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2015-01.csv
['processed', 'yellow_tripdata_2016-02.csv', 'yellow_tripdata_2016-03.csv', 'yellow_tripdata_2016-01.csv', 'yellow_tripdata_2015-01.csv']

# Carga de datos

In [36]:
df = pd.read_csv(os.path.join(smb_dir,"yellow_tripdata_2016-03.csv"), header=0, sep=",", engine='pyarrow')
print(df.shape)
df.describe()

(12210952, 19)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,1.221095e+07,12210952,12210952,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07
mean,1.530647e+00,2016-03-16 09:20:13,2016-03-16 09:35:54,1.659580e+00,6.131770e+00,-7.287133e+01,4.014349e+01,1.040395e+00,-7.293679e+01,4.018050e+01,1.340920e+00,1.279508e+01,3.455600e-01,4.976363e-01,1.792582e+00,3.152554e-01,2.997199e-01,1.604582e+01
min,1.000000e+00,2016-03-01 00:00:00,2016-02-25 09:45:01,0.000000e+00,0.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-3.760000e+02,-5.850000e+01,-1.000000e+00,-2.000000e+01,-1.604000e+01,-3.000000e-01,-3.763000e+02
25%,1.000000e+00,2016-03-08 17:31:02,2016-03-08 17:47:11,1.000000e+00,1.000000e+00,-7.399174e+01,4.073630e+01,1.000000e+00,-7.399125e+01,4.073462e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.750000e+00
50%,2.000000e+00,2016-03-16 10:37:04,2016-03-16 10:55:05,1.000000e+00,1.700000e+00,-7.398161e+01,4.075325e+01,1.000000e+00,-7.397961e+01,4.075375e+01,1.000000e+00,9.500000e+00,0.000000e+00,5.000000e-01,1.350000e+00,0.000000e+00,3.000000e-01,1.180000e+01
75%,2.000000e+00,2016-03-24 00:25:02,2016-03-24 00:40:51,2.000000e+00,3.180000e+00,-7.396678e+01,4.076765e+01,1.000000e+00,-7.396228e+01,4.076910e+01,2.000000e+00,1.450000e+01,5.000000e-01,5.000000e-01,2.360000e+00,0.000000e+00,3.000000e-01,1.776000e+01
max,2.000000e+00,2016-03-31 23:59:59,2016-06-29 15:58:16,9.000000e+00,1.907263e+07,0.000000e+00,6.685682e+01,9.900000e+01,0.000000e+00,5.079786e+01,4.000000e+00,4.294967e+05,8.000000e+01,7.930000e+01,8.500000e+02,1.410320e+03,3.000000e-01,4.295622e+05
std,4.990599e-01,NaN,NaN,1.312189e+00,6.156483e+03,8.964108e+00,4.937996e+00,5.807342e-01,8.696974e+00,4.790940e+00,4.902621e-01,1.340979e+02,4.563069e-01,4.863319e-02,2.549124e+00,1.751526e+00,1.230647e-02,1.343578e+02

# Preprocesamiento de datos

## Remover features

## Descripcion de columnas

In [37]:
df.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,1.221095e+07,12210952,12210952,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07
mean,1.530647e+00,2016-03-16 09:20:13,2016-03-16 09:35:54,1.659580e+00,6.131770e+00,-7.287133e+01,4.014349e+01,1.040395e+00,-7.293679e+01,4.018050e+01,1.340920e+00,1.279508e+01,3.455600e-01,4.976363e-01,1.792582e+00,3.152554e-01,2.997199e-01,1.604582e+01
min,1.000000e+00,2016-03-01 00:00:00,2016-02-25 09:45:01,0.000000e+00,0.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-3.760000e+02,-5.850000e+01,-1.000000e+00,-2.000000e+01,-1.604000e+01,-3.000000e-01,-3.763000e+02
25%,1.000000e+00,2016-03-08 17:31:02,2016-03-08 17:47:11,1.000000e+00,1.000000e+00,-7.399174e+01,4.073630e+01,1.000000e+00,-7.399125e+01,4.073462e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.750000e+00
50%,2.000000e+00,2016-03-16 10:37:04,2016-03-16 10:55:05,1.000000e+00,1.700000e+00,-7.398161e+01,4.075325e+01,1.000000e+00,-7.397961e+01,4.075375e+01,1.000000e+00,9.500000e+00,0.000000e+00,5.000000e-01,1.350000e+00,0.000000e+00,3.000000e-01,1.180000e+01
75%,2.000000e+00,2016-03-24 00:25:02,2016-03-24 00:40:51,2.000000e+00,3.180000e+00,-7.396678e+01,4.076765e+01,1.000000e+00,-7.396228e+01,4.076910e+01,2.000000e+00,1.450000e+01,5.000000e-01,5.000000e-01,2.360000e+00,0.000000e+00,3.000000e-01,1.776000e+01
max,2.000000e+00,2016-03-31 23:59:59,2016-06-29 15:58:16,9.000000e+00,1.907263e+07,0.000000e+00,6.685682e+01,9.900000e+01,0.000000e+00,5.079786e+01,4.000000e+00,4.294967e+05,8.000000e+01,7.930000e+01,8.500000e+02,1.410320e+03,3.000000e-01,4.295622e+05
std,4.990599e-01,NaN,NaN,1.312189e+00,6.156483e+03,8.964108e+00,4.937996e+00,5.807342e-01,8.696974e+00,4.790940e+00,4.902621e-01,1.340979e+02,4.563069e-01,4.863319e-02,2.549124e+00,1.751526e+00,1.230647e-02,1.343578e+02

In [38]:
key_cols = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']
for col in key_cols:
    print(f"{col}: {df[col].isna().sum()} missing")

tpep_pickup_datetime: 0 missing
tpep_dropoff_datetime: 0 missing

## Transformacion de columnas

In [39]:
import numpy as np

# Convert pickup/dropoff to string, then to datetime, and compute trip duration (in minutes)
df['pickup'] = pd.to_datetime(df['tpep_pickup_datetime'], format='%Y-%m-%d %H:%M:%S', errors='coerce')
df['dropoff'] = pd.to_datetime(df['tpep_dropoff_datetime'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

df = df[df['pickup'].notna()]
df = df[df['dropoff'].notna()]

df['trip_duration_min'] = np.floor((df['dropoff'] - df['pickup']).dt.total_seconds() / 60)

df["pickup_hour"] = df["pickup"].dt.hour
df["pickup_dayweek"] = df["pickup"].dt.dayofweek
df["pickup_daymonth"] = df["pickup"].dt.days_in_month

df["pickup_hour_cos"] = np.cos(2 * np.pi * df["pickup_hour"] / 24)
df["pickup_hour_sin"] = np.sin(2 * np.pi * df["pickup_hour"] / 24)
df["pickup_dayweek_cos"] = np.cos(2 * np.pi * df["pickup_dayweek"] / 7)
df["pickup_dayweek_sin"] = np.sin(2 * np.pi * df["pickup_dayweek"] / 7)
df["pickup_daymonth_cos"] = np.cos(2 * np.pi * df["pickup_daymonth"] / 31)
df["pickup_daymonth_sin"] = np.sin(2 * np.pi * df["pickup_daymonth"] / 31)


print("Before filtering: ", df.shape)

Before filtering:  (12210952, 31)

## Eliminacion de datos atipicos

### trip_duration_min

In [40]:
df['trip_duration_min'].describe()

count    1.221095e+07
mean     1.520348e+01
std      1.152611e+02
min     -5.052100e+04
25%      6.000000e+00
50%      1.000000e+01
75%      1.700000e+01
max      1.458670e+05
Name: trip_duration_min, dtype: float64

In [41]:
total_count = len(df)
df = df[df['trip_duration_min'] >= 0]

# Compute Q1, Q3, and IQR
Q1 = df['trip_duration_min'].quantile(0.25)
Q3 = df['trip_duration_min'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers_mask = (df['trip_duration_min'] < lower_bound) | (df['trip_duration_min'] > upper_bound)
outliers = df[outliers_mask]

print("Outliers:\n", outliers)
print("Outliers shape:\n", outliers.shape)
print(f"Outliers: {outliers.shape[0] / total_count} ({outliers.shape[0] / total_count * 100:.2f}%) of total data")

Outliers:
           VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
28               2  2016-03-01 00:00:07   2016-03-01 00:36:51
64               2  2016-03-01 00:00:21   2016-03-01 00:38:01
69               2  2016-03-01 00:00:24   2016-03-01 00:35:29
129              2  2016-03-01 00:00:45   2016-03-01 00:39:48
131              1  2016-03-01 00:00:46   2016-03-01 00:40:15
...            ...                  ...                   ...
12210946         1  2016-03-20 08:59:21   2016-04-18 10:58:05
12210948         1  2016-03-26 03:02:32   2016-06-14 18:47:55
12210949         1  2016-03-20 08:43:59   2016-06-27 15:05:01
12210950         1  2016-03-20 08:49:47   2016-06-28 19:11:27
12210951         1  2016-03-20 08:50:24   2016-06-29 15:58:16

          passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
28                      1          18.03        -73.789413        40.647018
64                      1          19.35        -73.789429        40.647717
69                      1          10.34        -73.990059        40.761936
129                     3          18.34        -73.793167        40.656830
131                     1          20.20        -73.789932        40.643650
...                   ...            ...               ...              ...
12210946                1          12.10        -73.789154        40.646736
12210948                1           0.40        -73.977356        40.774471
12210949                1          20.20          0.000000         0.000000
12210950                1          15.40        -73.790077        40.647377
12210951                1          17.50        -73.798485        40.645096

          RatecodeID store_and_fwd_flag  dropoff_longitude  ...  \
28                 2                  N         -74.000992  ...
64                 2                  N         -73.970741  ...
69                 1                  N         -73.857773  ...
129                5                  N         -73.793167  ...
131                2                  Y         -73.979767  ...
...              ...                ...                ...  ...
12210946           1                  N         -73.875351  ...
12210948           1                  N         -73.982536  ...
12210949           2                  N         -74.008614  ...
12210950           1                  N         -73.971756  ...
12210951           2                  N         -73.993111  ...

          trip_duration_min  pickup_hour  pickup_dayweek  pickup_daymonth  \
28                     36.0            0               1               31
64                     37.0            0               1               31
69                     35.0            0               1               31
129                    39.0            0               1               31
131                    39.0            0               1               31
...                     ...          ...             ...              ...
12210946            41878.0            8               6               31
12210948           116145.0            3               5               31
12210949           142941.0            8               6               31
12210950           144621.0            8               6               31
12210951           145867.0            8               6               31

          pickup_hour_cos  pickup_hour_sin  pickup_dayweek_cos  \
28               1.000000         0.000000            0.623490
64               1.000000         0.000000            0.623490
69               1.000000         0.000000            0.623490
129              1.000000         0.000000            0.623490
131              1.000000         0.000000            0.623490
...                   ...              ...                 ...
12210946        -0.500000         0.866025            0.623490
12210948         0.707107         0.707107           -0.222521
12210949        -0.500000         0.866025            0.623490
12210950        -0.500000         0.866025            0.623490
12210951        -0.500000         0.866025            0.623490

          pickup_dayweek_sin  pickup_daymonth_cos pickup_daymonth_sin
28                  0.781831                  1.0       -2.449294e-16
64                  0.781831                  1.0       -2.449294e-16
69                  0.781831                  1.0       -2.449294e-16
129                 0.781831                  1.0       -2.449294e-16
131                 0.781831                  1.0       -2.449294e-16
...                      ...                  ...                 ...
12210946           -0.781831                  1.0       -2.449294e-16
12210948           -0.974928                  1.0       -2.449294e-16
12210949           -0.781831                  1.0       -2.449294e-16
12210950           -0.781831                  1.0       -2.449294e-16
12210951           -0.781831                  1.0       -2.449294e-16

[603592 rows x 31 columns]
Outliers shape:
 (603592, 31)
Outliers: 0.049430380202952234 (4.94%) of total data

In [42]:
df = df[~outliers_mask].reset_index(drop=True)
df['trip_duration_min'].describe()

count    1.160725e+07
mean     1.149820e+01
std      7.300860e+00
min      0.000000e+00
25%      6.000000e+00
50%      1.000000e+01
75%      1.600000e+01
max      3.300000e+01
Name: trip_duration_min, dtype: float64

### total_amount

In [43]:
df['total_amount'].describe()

count    1.160725e+07
mean     1.416128e+01
std      5.478408e+01
min     -3.763000e+02
25%      8.300000e+00
50%      1.140000e+01
75%      1.655000e+01
max      1.331312e+05
Name: total_amount, dtype: float64

In [44]:
total_count = len(df)
df['total_amount'] = df['fare_amount'] + df['extra'] + df['mta_tax'] + df['tip_amount'] + df['tolls_amount'] + df['improvement_surcharge']

df = df[df['total_amount'] >= 0]

Q1 = df['total_amount'].quantile(0.25)
Q3 = df['total_amount'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers_mask = (df['total_amount'] < lower_bound) | (df['total_amount'] > upper_bound)
outliers = df[outliers_mask]

print("Outliers:\n", outliers)
print("Outliers shape:\n", outliers.shape)
print(f"Outliers: {outliers.shape[0] / total_count} ({outliers.shape[0] / total_count * 100:.2f}%) of total data")

Outliers:
           VendorID tpep_pickup_datetime tpep_dropoff_datetime  \
2                2  2016-03-01 00:00:00   2016-03-01 00:31:06
3                2  2016-03-01 00:00:00   2016-03-01 00:00:00
4                2  2016-03-01 00:00:00   2016-03-01 00:00:00
5                2  2016-03-01 00:00:00   2016-03-01 00:00:00
14               2  2016-03-01 00:00:02   2016-03-01 00:24:11
...            ...                  ...                   ...
11607204         2  2016-03-31 23:59:51   2016-04-01 00:27:05
11607206         2  2016-03-31 23:59:51   2016-04-01 00:28:35
11607235         1  2016-03-31 23:59:58   2016-04-01 00:29:16
11607241         2  2016-03-31 23:59:58   2016-04-01 00:18:16
11607245         1  2016-03-29 16:46:55   2016-03-29 16:49:21

          passenger_count  trip_distance  pickup_longitude  pickup_latitude  \
2                       2          19.98        -73.782021        40.644810
3                       3          10.78        -73.863419        40.769814
4                       5          30.43        -73.971741        40.792183
5                       5           5.92        -74.017197        40.705383
14                      1           8.54        -74.002068        40.719120
...                   ...            ...               ...              ...
11607204                2          10.36        -73.979843        40.761131
11607206                1          17.55        -73.776703        40.645279
11607235                2           7.20        -73.999077        40.739471
11607241                1           6.21        -74.005898        40.725761
11607245                4           0.40        -73.981949        40.766346

          RatecodeID store_and_fwd_flag  dropoff_longitude  ...  \
2                  1                  N         -73.974541  ...
3                  1                  N         -73.969650  ...
4                  3                  N         -74.177170  ...
5                  1                  N         -73.978073  ...
14                 1                  N         -73.952118  ...
...              ...                ...                ...  ...
11607204           1                  N         -73.892838  ...
11607206           2                  N         -73.969093  ...
11607235           1                  N         -73.930878  ...
11607241           5                  N         -74.009331  ...
11607245           2                  Y         -73.987587  ...

          trip_duration_min  pickup_hour  pickup_dayweek  pickup_daymonth  \
2                      31.0            0               1               31
3                       0.0            0               1               31
4                       0.0            0               1               31
5                       0.0            0               1               31
14                     24.0            0               1               31
...                     ...          ...             ...              ...
11607204               27.0           23               3               31
11607206               28.0           23               3               31
11607235               29.0           23               3               31
11607241               18.0           23               3               31
11607245                2.0           16               1               31

          pickup_hour_cos  pickup_hour_sin  pickup_dayweek_cos  \
2                1.000000         0.000000            0.623490
3                1.000000         0.000000            0.623490
4                1.000000         0.000000            0.623490
5                1.000000         0.000000            0.623490
14               1.000000         0.000000            0.623490
...                   ...              ...                 ...
11607204         0.965926        -0.258819           -0.900969
11607206         0.965926        -0.258819           -0.900969
11607235         0.965926        -0.258819           -0.900969
11607241         0.965926        -0.258819           -0.900969
11607245        -0.500000        -0.866025            0.623490

          pickup_dayweek_sin  pickup_daymonth_cos pickup_daymonth_sin
2                   0.781831                  1.0       -2.449294e-16
3                   0.781831                  1.0       -2.449294e-16
4                   0.781831                  1.0       -2.449294e-16
5                   0.781831                  1.0       -2.449294e-16
14                  0.781831                  1.0       -2.449294e-16
...                      ...                  ...                 ...
11607204            0.433884                  1.0       -2.449294e-16
11607206            0.433884                  1.0       -2.449294e-16
11607235            0.433884                  1.0       -2.449294e-16
11607241            0.433884                  1.0       -2.449294e-16
11607245            0.781831                  1.0       -2.449294e-16

[716593 rows x 31 columns]
Outliers shape:
 (716593, 31)
Outliers: 0.0617366678811374 (6.17%) of total data

In [45]:
df = df[~outliers_mask].reset_index(drop=True)
print("Cleaned DataFrame:\n") 
df['total_amount'].describe()

Cleaned DataFrame:

count    1.088611e+07
mean     1.225448e+01
std      5.299095e+00
min      0.000000e+00
25%      8.300000e+00
50%      1.115000e+01
75%      1.530000e+01
max      2.892000e+01
Name: total_amount, dtype: float64

In [46]:
key_cols = ['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'trip_distance']
for col in key_cols:
    print(f"{col}: {df[col].isna().sum()} missing")

pickup_longitude: 0 missing
pickup_latitude: 0 missing
dropoff_longitude: 0 missing
dropoff_latitude: 0 missing
trip_distance: 0 missing
pickup_latitude: 0 missing
dropoff_longitude: 0 missing
dropoff_latitude: 0 missing
trip_distance: 0 missing

In [47]:
df.drop(columns=['tpep_pickup_datetime', 'tpep_dropoff_datetime'], inplace=True)
df.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,...,trip_duration_min,pickup_hour,pickup_dayweek,pickup_daymonth,pickup_hour_cos,pickup_hour_sin,pickup_dayweek_cos,pickup_dayweek_sin,pickup_daymonth_cos,pickup_daymonth_sin
count,1.088611e+07,1.088611e+07,1.088611e+07,1.088611e+07,1.088611e+07,1.088611e+07,1.088611e+07,1.088611e+07,1.088611e+07,1.088611e+07,...,1.088611e+07,1.088611e+07,1.088611e+07,10886108.0,1.088611e+07,1.088611e+07,1.088611e+07,1.088611e+07,10886108.0,1.088611e+07
mean,1.527985e+00,1.654461e+00,5.008890e+00,-7.290081e+01,4.015823e+01,1.005864e+00,-7.295949e+01,4.019228e+01,1.351730e+00,9.782266e+00,...,1.066905e+01,1.371452e+01,2.978995e+00,31.0,-8.855055e-02,-2.089877e-01,-5.492471e-02,5.042476e-02,1.0,-2.449294e-16
min,1.000000e+00,0.000000e+00,0.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,31.0,-1.000000e+00,-1.000000e+00,-9.009689e-01,-9.749279e-01,1.0,-2.449294e-16
25%,1.000000e+00,1.000000e+00,9.500000e-01,-7.399211e+01,4.073757e+01,1.000000e+00,-7.399152e+01,4.073698e+01,1.000000e+00,6.500000e+00,...,6.000000e+00,9.000000e+00,1.000000e+00,31.0,-7.071068e-01,-8.660254e-01,-9.009689e-01,-7.818315e-01,1.0,-2.449294e-16
50%,2.000000e+00,1.000000e+00,1.520000e+00,-7.398217e+01,4.075334e+01,1.000000e+00,-7.398052e+01,4.075414e+01,1.000000e+00,8.500000e+00,...,9.000000e+00,1.400000e+01,3.000000e+00,31.0,-2.588190e-01,-2.588190e-01,-2.225209e-01,0.000000e+00,1.0,-2.449294e-16
75%,2.000000e+00,2.000000e+00,2.510000e+00,-7.396925e+01,4.076697e+01,1.000000e+00,-7.396555e+01,4.076871e+01,2.000000e+00,1.250000e+01,...,1.500000e+01,1.900000e+01,5.000000e+00,31.0,7.071068e-01,5.000000e-01,6.234898e-01,7.818315e-01,1.0,-2.449294e-16
max,2.000000e+00,9.000000e+00,1.907263e+07,0.000000e+00,6.685682e+01,9.900000e+01,0.000000e+00,5.079786e+01,4.000000e+00,2.880000e+01,...,3.300000e+01,2.300000e+01,6.000000e+00,31.0,1.000000e+00,1.000000e+00,1.000000e+00,9.749279e-01,1.0,-2.449294e-16
std,4.992162e-01,1.309841e+00,6.340825e+03,8.870406e+00,4.886185e+00,3.856325e-01,8.620006e+00,4.748444e+00,4.918391e-01,4.638092e+00,...,6.508988e+00,6.334782e+00,1.904131e+00,0.0,7.015057e-01,6.755537e-01,6.935252e-01,7.165636e-01,0.0,0.000000e+00

### Guardado de archivo

In [48]:
# Prepare data for H2O
os.makedirs(os.path.join(smb_dir,"processed"), exist_ok=True)
df.to_csv(os.path.join("/home/giorgio6846/Code/BigData-DATA/TF/processed", "yellow_tripdata_2016-03_processed.csv"), index=False)