In [1]:
import os
import kagglehub
import pandas as pd

/home/giorgio6846/miniconda3/envs/BigData-TF/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Descarga de dataset Kaggle

In [2]:
path = kagglehub.dataset_download("elemento/nyc-yellow-taxi-trip-data")
print("Dataset downloaded to:", path)
os.listdir(path)

Dataset downloaded to: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2

['yellow_tripdata_2016-02.csv',
 'yellow_tripdata_2016-03.csv',
 'yellow_tripdata_2016-01.csv',
 'yellow_tripdata_2015-01.csv']

In [3]:
import shutil

for file in os.listdir(path):
    kaggle_path = os.path.join(path, file)
    print("Cargando datos:", kaggle_path)

    smb_dir = (
        "/mnt/sambashare/BigData-DATA/TF"
    )

    source = os.path.join(path, file)
    dest = os.path.join(smb_dir, file)
    
    os.makedirs(smb_dir, exist_ok=True)
    smb_path = os.path.join(smb_dir, file)
    if not os.path.exists(dest):
        shutil.copy2(source, dest)
    
print(os.listdir(smb_dir))

Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2016-02.csv
Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2016-03.csv
Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2016-01.csv
Cargando datos: /home/giorgio6846/.cache/kagglehub/datasets/elemento/nyc-yellow-taxi-trip-data/versions/2/yellow_tripdata_2015-01.csv
['processed', 'yellow_tripdata_2016-02.csv', 'yellow_tripdata_2016-03.csv', 'yellow_tripdata_2016-01.csv', 'yellow_tripdata_2015-01.csv']

# Carga de datos

In [4]:
df = pd.read_csv(os.path.join(smb_dir,"yellow_tripdata_2016-03.csv"), header=0, sep=",", engine='pyarrow')
print(df.shape)
df.describe()

(12210952, 19)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,1.221095e+07,12210952,12210952,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07
mean,1.530647e+00,2016-03-16 09:20:13,2016-03-16 09:35:54,1.659580e+00,6.131770e+00,-7.287133e+01,4.014349e+01,1.040395e+00,-7.293679e+01,4.018050e+01,1.340920e+00,1.279508e+01,3.455600e-01,4.976363e-01,1.792582e+00,3.152554e-01,2.997199e-01,1.604582e+01
min,1.000000e+00,2016-03-01 00:00:00,2016-02-25 09:45:01,0.000000e+00,0.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-3.760000e+02,-5.850000e+01,-1.000000e+00,-2.000000e+01,-1.604000e+01,-3.000000e-01,-3.763000e+02
25%,1.000000e+00,2016-03-08 17:31:02,2016-03-08 17:47:11,1.000000e+00,1.000000e+00,-7.399174e+01,4.073630e+01,1.000000e+00,-7.399125e+01,4.073462e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.750000e+00
50%,2.000000e+00,2016-03-16 10:37:04,2016-03-16 10:55:05,1.000000e+00,1.700000e+00,-7.398161e+01,4.075325e+01,1.000000e+00,-7.397961e+01,4.075375e+01,1.000000e+00,9.500000e+00,0.000000e+00,5.000000e-01,1.350000e+00,0.000000e+00,3.000000e-01,1.180000e+01
75%,2.000000e+00,2016-03-24 00:25:02,2016-03-24 00:40:51,2.000000e+00,3.180000e+00,-7.396678e+01,4.076765e+01,1.000000e+00,-7.396228e+01,4.076910e+01,2.000000e+00,1.450000e+01,5.000000e-01,5.000000e-01,2.360000e+00,0.000000e+00,3.000000e-01,1.776000e+01
max,2.000000e+00,2016-03-31 23:59:59,2016-06-29 15:58:16,9.000000e+00,1.907263e+07,0.000000e+00,6.685682e+01,9.900000e+01,0.000000e+00,5.079786e+01,4.000000e+00,4.294967e+05,8.000000e+01,7.930000e+01,8.500000e+02,1.410320e+03,3.000000e-01,4.295622e+05
std,4.990599e-01,NaN,NaN,1.312189e+00,6.156483e+03,8.964108e+00,4.937996e+00,5.807342e-01,8.696974e+00,4.790940e+00,4.902621e-01,1.340979e+02,4.563069e-01,4.863319e-02,2.549124e+00,1.751526e+00,1.230647e-02,1.343578e+02

## Remover features

In [5]:
df = df.drop(columns=["VendorID", "RatecodeID"])
df.describe()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,12210952,12210952,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07,1.221095e+07
mean,2016-03-16 09:20:13,2016-03-16 09:35:54,1.659580e+00,6.131770e+00,-7.287133e+01,4.014349e+01,-7.293679e+01,4.018050e+01,1.340920e+00,1.279508e+01,3.455600e-01,4.976363e-01,1.792582e+00,3.152554e-01,2.997199e-01,1.604582e+01
min,2016-03-01 00:00:00,2016-02-25 09:45:01,0.000000e+00,0.000000e+00,-1.616987e+02,0.000000e+00,-1.616987e+02,0.000000e+00,1.000000e+00,-3.760000e+02,-5.850000e+01,-1.000000e+00,-2.000000e+01,-1.604000e+01,-3.000000e-01,-3.763000e+02
25%,2016-03-08 17:31:02,2016-03-08 17:47:11,1.000000e+00,1.000000e+00,-7.399174e+01,4.073630e+01,-7.399125e+01,4.073462e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.750000e+00
50%,2016-03-16 10:37:04,2016-03-16 10:55:05,1.000000e+00,1.700000e+00,-7.398161e+01,4.075325e+01,-7.397961e+01,4.075375e+01,1.000000e+00,9.500000e+00,0.000000e+00,5.000000e-01,1.350000e+00,0.000000e+00,3.000000e-01,1.180000e+01
75%,2016-03-24 00:25:02,2016-03-24 00:40:51,2.000000e+00,3.180000e+00,-7.396678e+01,4.076765e+01,-7.396228e+01,4.076910e+01,2.000000e+00,1.450000e+01,5.000000e-01,5.000000e-01,2.360000e+00,0.000000e+00,3.000000e-01,1.776000e+01
max,2016-03-31 23:59:59,2016-06-29 15:58:16,9.000000e+00,1.907263e+07,0.000000e+00,6.685682e+01,0.000000e+00,5.079786e+01,4.000000e+00,4.294967e+05,8.000000e+01,7.930000e+01,8.500000e+02,1.410320e+03,3.000000e-01,4.295622e+05
std,NaN,NaN,1.312189e+00,6.156483e+03,8.964108e+00,4.937996e+00,8.696974e+00,4.790940e+00,4.902621e-01,1.340979e+02,4.563069e-01,4.863319e-02,2.549124e+00,1.751526e+00,1.230647e-02,1.343578e+02

In [6]:
# Check for missing values in key columns
key_cols = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'fare_amount']
for col in key_cols:
    print(f"{col}: {df[col].isna().sum()} missing")

tpep_pickup_datetime: 0 missing
tpep_dropoff_datetime: 0 missing
fare_amount: 0 missing

In [7]:
# Convert pickup/dropoff to string, then to datetime, and compute trip duration (in minutes)
df['pickup'] = pd.to_datetime(df['tpep_pickup_datetime'], format='%Y-%m-%d %H:%M:%S')
df['dropoff'] = pd.to_datetime(df['tpep_dropoff_datetime'], format='%Y-%m-%d %H:%M:%S')

df['trip_duration_min'] = (df['dropoff'] - df['pickup']) * 24 * 60

# Remove negative/zero durations and fares
df_filtered = df.loc[(df['trip_duration_min'] > pd.Timedelta(0)) & (df['fare_amount'] > 0)]

In [ ]:
# Prepare data for H2O
os.makedirs(os.path.join(smb_dir,"processed"), exist_ok=True)
df_filtered.to_csv(os.path.join("/home/giorgio6846/Code/BigData-DATA/TF/processed", "yellow_tripdata_2016-03_processed.csv"), index=False)